@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

.hero-container {
  min-height: 100vh;
  background: url(../../images/hero.svg) no-repeat;
  padding: 0 3.75rem;
  padding-top: 2.5rem;
}

.hero-desc {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.hero-desc-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-family: monospace;
  font-family: "Nunito Sans", sans-serif;
  font-size: 5rem;
  color: #fff;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 1.1;
}

h3 {
  width: 400px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.btnStart {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: 3rem;
  background: #ebc7b5;
  margin-top: 3rem;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 1px;
}

.btnStart:before {
  background: #fff;
}

.hero-desc-right {
  position: relative;
}

.hero-plane {
  position: absolute;
  top: 5px;
  right: 0;
  animation: planeLoad 1s ease-in-out;
}

@keyframes planeLoad {
  0% {
    transform: translate(-100%, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.hero-logo-wrapper {
  margin-top: 3rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
