.question-container {
  padding: 6rem 3.75rem;
  margin-top: 12rem;
  background: url("../../images/bg_questions.svg") no-repeat;
  background-size: cover;
  border-radius: 3.5rem;
  display: flex;
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

.question-text h2 {
  margin: 0;
  padding: 0;
  font-size: 3.6rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.question-text h3 {
  margin: 0;
  padding: 0;
  width: auto;
  color: #fff;
  font-weight: 300;
  width: 550px;
}

.email-button-wrapper {
  margin-top: 3rem;
  display: inline-block;
}

.input-email {
  width: 320px;
  height: 60px;
  border-radius: 3rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 1px solid #61acbb;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.btnSubmit {
  background-color: #ebc7b5;
  height: 60px;
  font-size: 1.1rem;
}

.btnSubmit:hover {
  background-color: #fff;
}

.question-illus {
  flex-basis: 50%;
  text-align: center;
  position: relative;
}

.illus {
  max-width: 100%;
  z-index: 2;
  position: relative;
}

.illusBg {
  max-width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.illusPlane {
  max-width: 100%;
  z-index: 0;
  position: absolute;
  top: 60px;
  left: 50px;
}

.pink-dot {
  position: absolute;
  bottom: 200px;
  left: 50px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ebc7b5;
}

.b-dot {
  position: absolute;
  bottom: 180px;
  left: 110px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #000;
}

.b-outline {
  position: absolute;
  top: 90px;
  right: 120px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  outline: 1px solid black;
}
